#main{
    background-image: url(./assets/orange-cloud.jpeg);
    margin: 10px;
}
#content{
    display: grid;
    grid-template-areas: 
    ". nav nav nav ."
    ". header header header ."
    ". current current previous ."
    ". forecast forecast . ."
    ". footer footer footer .";
    grid-gap: 5px;
    width: 75%;
    margin: 10px auto;
}
 #nav{
    width: 95%;
    display: inline-block;
    grid-area: nav;
    border: 2px solid rgb(112, 176, 196);
    font-weight: 600;
    margin: auto;
    padding: 10px;
    background-image: url(./assets/orange-cloud.jpeg);
    
} 
#nav span{
    margin: 10px;
    padding: 5px;
    background-image: url(./assets/orange-cloud.jpeg);
}

#header{
    display: grid;
    text-align: center;
    grid-area: header;
    border: 2px solid rgb(112, 176, 196);
    padding: 40px;
    margin: 10px;
    background-image: linear-gradient(rgb(184, 79, 184), orange, tan);;
}
#header h1{
    background-image: url(./assets/orange-cloud.jpeg);
    padding: 10px 0px;
}
#footer{
    grid-area: footer;
    margin: 20px;
    background-image: url(./assets/orange-cloud.jpeg);
}
.logo{
    grid-area: logo;
    height: 60px;
    padding: 10px 15px;
}
.logo { 
    width: 150px;
    padding-top: 100;
}
#footer-logo{
    text-align: center;
    padding: 5px;
}
#footer-logo img{
    text-align: center;
    width: 250px;
    padding: 10px;
    }
#hyperlinks{
    text-align: center;
    padding: 10px;
    color: seashell;
}
#maps{
    grid-area: maps;
}
#news{
    grid-area: news;
}
#severe{
    grid-area: severe;
}
#more{
    grid-area: more;
}

#error-message{
    color: red;
    font-weight: 700;
    padding-top: 10px;
}
#pick-location{
    padding-top: 20px;
}

#currentLocation{
    border: 1px solid rgb(63, 226, 218);
    margin: 10px;
    padding:10px;
    grid-area: current;
    text-align: center;
    background-image: linear-gradient(rgb(184, 79, 184), tan, orange);
}
#previous-searches{
   
    margin: 10px;
    padding: 25px;
    grid-area: previous;
    text-align: left;
    background-image: linear-gradient(rgb(184, 79, 184),orange, tan);
    border: 1px solid rgb(63, 226, 218);


}
#no-search-yet{
    text-align: center;
    background-image: url(./assets/orange-cloud.jpeg);

}
#forecast{
    display:grid;
    grid-template-areas: 
    "today tomorrow dayafter";
    border: 1px solid rgb(63, 226, 218);
    background-image: linear-gradient(rgb(184, 79, 184),orange, tan);

    margin: 10px;
    padding: 0px;
    grid-area: forecast;
    text-align: center;
}
#today{
    grid-area: today;
}
#tomorrow{
    grid-area: tomorrow;
}
#day-after{
    grid-area: dayafter;
}

